html
	head(lang="en")
		title= "Star Wars - BattleFront II"
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet", href="assets/css/main.css")

	body
		main.container
			//- Banner Section		
			section.banner
				//- Header Section
				header.header
					//- Button Open Nav
					button.open-nav
						i.fa.fa-bars
					//- Nav Section
					nav.navigation
						a.navigation-link(href="#")= "Home"
						a.navigation-link(href="#")= "About"
						a.navigation-link(href="#")= "Gameplays"
						a.navigation-link(href="#")= "Buy"

				//- Logo Banner
				div.logo
					img(src="assets/images/Logo_Star_Wars_Battlefront_II_.svg", alt="Logo Star Wars Battlefront II")

			//- About Section
			section.about
				h1.title= "Star Wars Battlefront II"
				p.about-text= "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quisquam in excepturi numquam dignissimos veniam maxime culpa facere dolore ipsam recusandae, nemo voluptate ducimus, quam temporibus! Eveniet iure voluptates iste, accusamus dolores deleniti, corporis ullam unde tempora natus debitis soluta at in numquam delectus sequi eligendi quod odit rem assumenda exercitationem! Exercitationem numquam sunt porro laudantium deserunt soluta quibusdam, rerum a tenetur similique, itaque impedit. Aut dolores eveniet iure, quia molestiae error suscipit nesciunt temporibus explicabo iusto qui molestias accusamus laudantium voluptatibus magni similique nihil, nisi sunt repudiandae dolore accusantium delectus dolorum neque. Itaque cumque sapiente ea nulla quam sit nisi totam dolores deserunt accusantium voluptate laborum pariatur numquam harum cupiditate, natus, mollitia quaerat enim. Ut officiis incidunt, asperiores nesciunt aspernatur nisi vitae, nobis consequuntur ratione repellat dolore dignissimos doloribus cum quasi. Molestiae, voluptatem magni, quisquam quo sint dicta numquam sit in, provident esse nesciunt repellat possimus est doloribus obcaecati."
				figure.about-image
					img(src="assets/images/game.jpg", alt="Gamplay Star Wars Battlefront II")

	script(src="https://use.fontawesome.com/3a8d059f5c.js")

